*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Слой темы */
.theme {
  display: grid;
  background: var(--background-default);

  &_color_project-default {
    --background-default: #ffffff;
    --background-accent: #0056b3;
    --border: #000000;

    --text-main: #000000;
    --text-secondary: rgba(0, 0, 0, 0.6);
    --text-additional: rgba(0, 0, 0, 0.3);
    --text-links: #0070f0;

    --current-image: url('../res/img/image-placeholder-primary.svg') center/80px 65px no-repeat;
    --current-image-background: var(--text-main);
  }

  &_color_project-brand {
    --background-default: #0070f0;
    --background-accent: #ffffff;
    --border: #ffffff;

    --text-main: #ffffff;
    --text-secondary: rgba(255, 255, 255, 0.6);
    --text-additional: rgba(255, 255, 255, 0.3);
    --text-links: #ffffff;

    --current-image-background: transparent;
  }

  &_color_project-inverse {
    --background-default: #000000;
    --background-accent: #ffffff;
    --border: #ffffff;

    --text-main: #ffffff;
    --text-secondary: rgba(255, 255, 255, 0.6);
    --text-additional: rgba(255, 255, 255, 0.3);
    --text-links: #0070f0;

    --current-image: url('../res/img/image-placeholder-inverse.svg') center/80px 65px no-repeat;
    --current-image-background: var(--text-main);
  }

  &_color_project-warning {
    --background-default: #ff9900;
    --background-accent: #ffffff;
    --border: #ffffff;

    --text-main: #ffffff;
    --text-secondary: rgba(255, 255, 255, 0.6);
    --text-additional: rgba(255, 255, 255, 0.3);
    --text-links: #ffffff;
  }

  &_color_megafon-brand {
    --background-default: #1fa55d;
    --background-accent: #ffffff;
    --border: #ffffff;

    --text-main: #ffffff;
    --text-secondary: rgba(255, 255, 255, 0.6);
    --text-additional: rgba(255, 255, 255, 0.3);
    --text-links: #ffffff;
  }

  &_size_default {
    --size-s: 7px;
    --size-m: 8px;
    --size-l: 10px;
    --size-xl: 11px;
    --size-xxl: 13px;

    --lh-s: 18px;
    --lh-m: 21px;
    --lh-l: 25px;
    --lh-xl: 28px;
    --lh-xxl: 34px;
  }

  &_space_default {
    --gap-xxxs: 2px;
    --gap-xxs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-l: 20px;
    --gap-xl: 24px;
    --gap-xxl: 32px;
    --gap-xxxl: 40px;
    --gap-xxxxl: 48px;
    --gap-xxxxxl: 72px;
  }
  --gap: var(--gap-xxxl);

  --columns-screen-m-12: repeat(12, 1fr);
  --columns-screen-m-10: repeat(10, 1fr);

  @media screen and (max-width: 1144px) {
    grid-auto-flow: row;
    --columns-screen-m-12: unset;
    --columns-screen-m-10: unset;
    --grid-one-column: row;
    --gap: var(--gap-m);
  }

  &_gap_small {
    --gap: calc(var(--gap-xxxl) / 2);
    @media screen and (max-width: 1144px) {
      --gap: calc(var(--gap-m) / 2);
    }
  }
}

/* Слой каркаса */
.layout {
  display: grid;
}
.layout__container {
  width: 100%;
  &_align_center {
    margin: 0 auto;
  }

  &_size_s {
    max-width: 880px;
  }

  &_size_m {
    max-width: 1144px;
  }

  &_space-v_xxxxl {
    padding-top: var(--gap-xxxxl);
    padding-bottom: var(--gap-xxxxl);
  }

  &_space-v_xxxxxl {
    padding-top: var(--gap-xxxxxl);
    padding-bottom: var(--gap-xxxxxl);
  }

  &_indent-b_xxl {
    margin-bottom: var(--gap-xxl);
  }

  &_indent-b_xxxxl {
    margin-bottom: var(--gap-xxxxl);
  }
}

.grid {
  display: grid;
  &_m-columns_10 {
    grid-template-columns: var(--columns-screen-m-10);
    grid-auto-flow: var(--grid-one-column);
  }

  &_m-columns_12 {
    grid-template-columns: var(--columns-screen-m-12);
    grid-auto-flow: var(--grid-one-column);
  }

  &_col-gap_two-thirds {
    column-gap: calc(var(--gap) * 0.66);
  }

  &_col-gap_full {
    column-gap: var(--gap);
  }

  &_col-gap_half {
    column-gap: calc(var(--gap) * 0.5);
  }

  &_row-gap_half {
    margin-bottom: calc(var(--gap) * 0.5);
  }

  &_row-gap_full {
    margin-bottom: var(--gap);
  }
}

.grid__fraction {
  &_m-col_2 {
    grid-column: span 2;
  }

  &_m-col_3 {
    grid-column: span 3;
  }

  &_m-col_4 {
    grid-column: span 4;
  }

  &_m-col_5 {
    grid-column: span 5;
  }

  &_m-col_8 {
    grid-column: span 8;
  }
}

/* Слой паттернов */
.card {
  position: relative;
  &_border_all {
    border-color: var(--border);
  }
  &_view_default {
    background: var(--background-default);
  }
}

.card__content {
  &_distribute_center {
    justify-content: space-between;
  }
  &_vertical-align_center {
    align-items: center;
  }
  &_space-a_m {
    padding: var(--gap-m);
  }
  &_space-a_l {
    padding: var(--gap-l);
  }
  &_space-a_xl {
    padding: var(--gap-xl);
  }
  &_space-a_xxl {
    padding: var(--gap-xxl);
  }
}

.card__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  &_distribute_between {
    justify-items: stretch;
  }
  &_distribute_center {
    justify-items: center;
  }
  &_distribute_right {
    justify-items: right;
  }
  &_vertical-align_center {
    align-items: center;
  }
  &_vertical-align_top {
    align-items: top;
  }
  &_vertical-align_bottom {
    align-items: bottom;
  }
  &_space-a_m {
    padding: var(--gap-m);
  }
  &_space-a_l {
    padding: var(--gap-l);
  }
  &_space-a_xl {
    padding: var(--gap-xl);
  }
  &_space-a_xxl {
    padding: var(--gap-xxl);
  }
}

.form {
  &_border_all {
    border: 3px solid var(--border);
  }
  &_view_default {
    background: var(--background-default);
  }
}

.form__item {
  &_border_bottom {
    border-bottom: 3px solid var(--border);
  }

  &:last-child {
    border-bottom: unset;
    margin-bottom: unset;
  }

  &_distribute_between {
    display: flex;
    //display: grid;
    //grid-auto-flow: column;
  }

  &_vertical-align_center {
    align-items: center;
  }

  &_indent-b_xxxs {
    margin-bottom: var(--gap-xxxs);
  }

  &_indent-b_xxs {
    margin-bottom: var(--gap-xxs);
  }

  &_indent-b_s {
    margin-bottom: var(--gap-s);
  }

  &_indent-b_m {
    margin-bottom: var(--gap-m);
  }

  &_indent-b_l {
    margin-bottom: var(--gap-l);
  }

  &_indent-b_xl {
    margin-bottom: var(--gap-xl);
  }

  &_indent-b_xxl {
    margin-bottom: var(--gap-xxl);
  }

  &_indent-b_xxxl {
    margin-bottom: var(--gap-xxxl);
  }

  &_indent-b_xxxxl {
    margin-bottom: var(--gap-xxxxl);
  }

  &_space-h_xxxs {
    padding-left: var(--gap-xxxs);
    padding-right: var(--gap-xxxs);
  }

  &_space-h_xxs {
    padding-left: var(--gap-xxs);
    padding-right: var(--gap-xxs);
  }

  &_space-h_s {
    padding-left: var(--gap-s);
    padding-right: var(--gap-s);
  }

  &_space-h_m {
    padding-left: var(--gap-m);
    padding-right: var(--gap-m);
  }

  &_space-h_l {
    padding-left: var(--gap-l);
    padding-right: var(--gap-l);
  }

  &_space-h_xl {
    padding-left: var(--gap-xl);
    padding-right: var(--gap-xl);
  }

  &_space-h_xxl {
    padding-left: var(--gap-xxl);
    padding-right: var(--gap-xxl);
  }

  &_space-h_xxxl {
    padding-left: var(--gap-xxxl);
    padding-right: var(--gap-xxxl);
  }

  &_space-h_xxxxl {
    padding-left: var(--gap-xxxxl);
    padding-right: var(--gap-xxxxl);
  }

  &_space-v_xxxs {
    padding-top: var(--gap-xxxs);
    padding-bottom: var(--gap-xxxs);
  }

  &_space-v_xxs {
    padding-top: var(--gap-xxs);
    padding-bottom: var(--gap-xxs);
  }

  &_space-v_s {
    padding-top: var(--gap-s);
    padding-bottom: var(--gap-s);
  }

  &_space-v_m {
    padding-top: var(--gap-m);
    padding-bottom: var(--gap-m);
  }

  &_space-v_l {
    padding-top: var(--gap-l);
    padding-bottom: var(--gap-l);
  }

  &_space-v_xl {
    padding-top: var(--gap-xl);
    padding-bottom: var(--gap-xl);
  }

  &_space-v_xxl {
    padding-top: var(--gap-xxl);
    padding-bottom: var(--gap-xxl);
  }

  &_space-v_xxxl {
    padding-top: var(--gap-xxxl);
    padding-bottom: var(--gap-xxxl);
  }

  &_space-v_xxxxl {
    padding-top: var(--gap-xxxxl);
    padding-bottom: var(--gap-xxxxl);
  }
}

.form__label {
  &_width_default {
    width: 35%;
  }
}

.form__control {
  flex-grow: 2;
}

.informer {
  background: var(--background-default);
  &_border_all {
    border: 3px solid var(--background-default);
  }
  &_view_default {
    --text-main: #fff;
    --background-default: #f79a00;
  }
}

.informer__content {
  display: grid;
  &_distribute_default {
    justify-content: unset;
  }
  &_distribute_between {
    justify-content: space-between;
  }
  &_distribute_center {
    justify-items: center;
  }
  &_space-a_xl {
    padding: var(--gap-xl);
  }
  &_space-a_xxl {
    padding: var(--gap-xxl);
  }
}

.informer__action {
  display: grid;
  &_distribute_default {
    justify-content: unset;
  }
  &_distribute_between {
    justify-content: space-between;
  }
  &_distribute_center {
    justify-items: center;
  }
  &_space-a_xl {
    padding: var(--gap-xl);
  }
  &_space-a_xxl {
    padding: var(--gap-xxl);
  }
}

.list {
  &_border_all {
    border: 3px solid var(--border);
  }
  &_view_default {
    background: var(--background-default);
  }
}

.list__item {
  &_border_bottom {
    border-bottom: 3px solid var(--border);
  }
  &:last-child {
    border-bottom: unset;
  }
  &_border_top {
    border-top: 3px solid var(--border);
  }
  &_distribute_between {
    justify-content: space-between;
    justify-items: space-between;
  }
  &_vertical-align_center {
    align-items: center;
  }
  &_indent-t_m {
    margin-top: var(--gap-m);
  }
  &_indent-b_s {
    margin-bottom: var(--gap-s);
  }
  &_indent-b_m {
    margin-bottom: var(--gap-m);
  }
  &_indent-b_l {
    margin-bottom: var(--gap-l);
  }
  &_indent-b_xl {
    margin-bottom: var(--gap-xl);
  }
  &_space-b_s {
    padding-bottom: var(--gap-s);
  }
  &_space-a_l {
    padding: var(--gap-l);
  }
}

.icon-plus {
  display: grid;
  grid-auto-flow: column;
  &_vertical-align_center {
    align-items: center;
  }
}

.icon-plus__icon {
  &_indent-r_s {
    margin-right: var(--gap-s);
  }
  &_indent-r_m {
    margin-right: var(--gap-m);
  }
  &_indent-l {
    margin-left: var(--gap-l);
  }
}

.section {
  &_indent-b_xxl {
    margin-bottom: var(--gap-xxl);
  }
  &_indent-b_xxxxl {
    margin-bottom: var(--gap-xxxxl);
  }
  &_space-v_xxl {
    padding-top: var(--gap-xxl);
    padding-bottom: var(--gap-xxl);
  }
  &_space-v_xxxxl {
    padding-top: var(--gap-xxxxl);
    padding-bottom: var(--gap-xxxxl);
  }
}

/* Слой контентных блоков */
.text {
  display: flex;
  flex-wrap: wrap;
  &_align_center {
    justify-content: center;
  }

  &_size_s {
    --elemsWidthS: 20px;
    --elemsWidthM: 48px;
    --elemsWidthL: 100px;

    --elemsHeight: 7px;
    --elemsLineHeight: var(--lh-s);
  }

  &_size_m {
    --elemsWidthS: 24px;
    --elemsWidthM: 56px;
    --elemsWidthL: 114px;

    --elemsHeight: 8px;
    --elemsLineHeight: var(--lh-m);
  }

  &_size_l {
    --elemsWidthS: 28px;
    --elemsWidthM: 68px;
    --elemsWidthL: 138px;

    --elemsHeight: 10px;
    --elemsLineHeight: var(--lh-l);
  }

  &_size_xl {
    --elemsWidthS: 32px;
    --elemsWidthM: 74px;
    --elemsWidthL: 15px;

    --elemsHeight: 11px;
    --elemsLineHeight: var(--lh-xl);
  }

  &_size_xxl {
    --elemsWidthS: 36px;
    --elemsWidthM: 88px;
    --elemsWidthL: 184px;

    --elemsHeight: 13px;
    --elemsLineHeight: var(--lh-xxl);
  }

  &_type_h1 {
    margin: 15px 0 21px;
  }

  &_type_h2 {
    margin: 48px 0 20px;
  }

  &_type_h3 {
    margin: 43px 0 0;
  }

  &_type_p {
    margin: 15px 0 21px;
  }

  &_view_primary {
    --text-view: var(--text-main);
  }

  &_view_secondary {
    --text-view: var(--text-secondary);
  }

  &_view_ghost {
    --text-view: var(--text-additional);
  }

  &_view_link {
    --text-view: var(--text-links);
  }
}

.text__word {
  background: var(--text-view);
  height: var(--elemsHeight);

  margin-top: calc((var(--elemsLineHeight) - var(--elemsHeight)) / 2);
  margin-bottom: calc((var(--elemsLineHeight) - var(--elemsHeight)) / 2);

  &_width_s {
    width: var(--elemsWidthS);
  }

  &_width_m {
    width: var(--elemsWidthM);
  }

  &_width_l {
    width: var(--elemsWidthL);
  }
}

.avatar {
  background: var(--text-main);

  &_size_m {
    width: 60px;
    height: 60px;
  }
}

.brand-logo {
  &_name_yota {
    background: #00c0f8;
  }

  &_name_megafon {
    background: #33c778;
  }

  &_name_kcell {
    background: #692b96;
  }

  &_name_mts {
    background: #f70000;
  }

  &_size_xxs {
    width: 24px;
    height: 24px;
  }

  &_size_xs {
    width: 32px;
    height: 32px;
  }

  &_size_s {
    width: 40px;
    height: 40px;
  }

  &_size_m {
    width: 60px;
    height: 60px;
  }

  &_size_l {
    width: 80px;
    height: 80px;
  }
}

.placeholder {
  background: var(--text-main);
  &_size_m {
    width: 72px;
    height: 72px;
  }
  &_view_primary {
    margin: var(--gap-m) 0;
  }
}

.button {
  background: var(--background-accent);

  &_size_s {
    height: 24px;
  }
  &_size_m {
    height: 32px;
  }
  &_size_l {
    height: 42px;
  }
  &_size_xl {
    height: 56px;
  }
  &_size_xxl {
    height: 64px;
  }

  &_width_full {
    width: 200px;
  }
}

.input {
  width: 100%;
  border: 3px solid var(--border);

  &_size_s {
    height: 24px;
  }
  &_size_m {
    height: 32px;
  }
  &_size_l {
    height: 42px;
  }
  &_size_xl {
    height: 56px;
  }
  &_size_xxl {
    height: 64px;
  }
}

.image {
  width: 100%;
  height: var(--currentImageHeight);
  background: var(--current-image-background) var(--current-image);
  border: 3px solid var(--text-main);

  min-width: var(--specialWidthVar);
}

/* Контентные блоки */
.payment {
  border: 3px solid var(--border);
}

.payment__header {
  padding-top: var(--gap-xl);
  padding-bottom: var(--gap-xxl);
}

.payment__input {
  width: 326px;
  border: 3px solid var(--border);
}
.payment__footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.warning {
  display: grid;
  grid-template-rows: 1fr min-content;
  min-height: 335px;
  height: 100%;
}
.warning__content {
  grid-auto-rows: min-content;
}
.warning__button-wrapper {
  --background-accent: #fff;
  align-items: center;
}
.warning__placeholder {
  margin-top: var(--gap-m);
  margin-bottom: var(--gap-m);
}

.product {
  position: relative;
  --currentImageHeight: 160px;

  min-height: 280px;
  border: 3px solid var(--border);
}
.product__footer {
  display: grid;
  gap: var(--gap-s);
}

.history {
  border: 3px solid var(--border);
}

.history__show {
  display: grid;
}

.history__hide {
  display: none;
}

.history__details {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 68px auto;
}

.history__time {
  display: grid;
  align-items: center;
  height: 100%;
  padding: 14px 0;
}

.history__destination {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
}

.history__label {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  justify-items: end;
}

.history__description {
  display: grid;
  justify-content: start;
  grid-auto-flow: row;
  gap: var(--gap-m);
}

.history__transaction {
  display: grid;
  align-items: center;
  align-content: center;
}

.history__actions {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding-top: var(--gap-m);
}

.commercial {
  min-height: 430px;
  border: 3px solid var(--border);
}

.commercial__pic {
  --currentImageHeight: 180px;
}
.commercial__info {
  display: grid;
  grid-auto-rows: 1fr;
}

.navigation {
  display: grid;
  justify-content: center;
  justify-self: center;
  grid-auto-flow: column;
  gap: var(--gap-xs);
  padding-top: var(--gap-s);
}

.page-button {
  width: var(--size-m);
  height: var(--size-m);
  background: var(--text-main);
}

.cover {
  --currentImageHeight: 180px;

  min-height: 408px;
}
.cover__info {
  display: grid;
  gap: var(--gap-m);
  grid-auto-rows: min-content;
}
.cover__preview {
  display: grid;
  gap: 12px;
}

.collect {
  display: grid;
  grid-auto-rows: min-content;
  border: 3px solid var(--border);
  min-height: 380px;

  --currentImageHeight: 160px;
}
.collect__progress {
  height: var(--size-xl);
  background: var(--background-default);
  border-bottom: 3px solid #fff;
}
.collect__done {
  width: 75%;
  height: 100%;
  background: #007bff;
}
.collect__footer {
  display: grid;
  gap: var(--gap-s);
}

.articles {
  --specialWidthVar: 170px;
  --currentImageHeight: 120px;
}

.offer {
  min-height: 408px;
}
.offer__partner {
}
.offer__footer {
}

.subscription {
  min-height: 408px;
  grid-auto-rows: min-content;
}
.subscription__control {
  margin-bottom: var(--gap-s);
}
.subscription__advantages {
  padding: var(--gap-xl);
}

.event {
  min-height: 333px;
}
.event__preview {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  justify-self: center;
  gap: var(--gap-s);
  margin-bottom: var(--gap-xl);
}
.event__title {
  margin-bottom: var(--gap-s);
}

.header {
  padding: var(--gap-xxxl) var(--gap);
}
.header__content {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  justify-items: stretch;
}
.header__logo {
  width: 179px;
  height: 34px;
  background: var(--text-main);
}

.onoffswitch {
  width: 97px;
  height: 32px;
  border: 2px solid var(--border);
}
.onoffswitch__button {
  width: 24px;
  height: 24px;
  background: var(--border);
  margin: var(--gap-xxxs);
}

.footer {
  max-width: 1144px;
  padding: var(--gap-xxxl) var(--gap);
}
.footer__content {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
