*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Слой темы */
.theme {
  display: grid;
  background: var(--background-default);

  &_color_project-default {
    --background-default: #ffffff;
    --background-accent: #007bff;
    --border: #000000;

    --text-main: #000000;
    --text-secondary: rgba(0, 0, 0, 0.6);
    --text-additional: rgba(0, 0, 0, 0.3);
    --text-links: #0070f0;

    --current-image: url('../res/img/image-placeholder-primary.svg') center/contain no-repeat;
    --current-image-background: var(--text-main);
  }

  &_color_project-brand {
    --background-default: #0070f0;
    --background-accent: #ffffff;
    --border: #ffffff;

    --text-main: #ffffff;
    --text-secondary: rgba(255, 255, 255, 0.6);
    --text-additional: rgba(255, 255, 255, 0.3);
    --text-links: #ffffff;
  }

  &_color_project-inverse {
    --background-default: #000000;
    --background-accent: #ffffff;
    --border: #ffffff;

    --text-main: #ffffff;
    --text-secondary: rgba(255, 255, 255, 0.6);
    --text-additional: rgba(255, 255, 255, 0.3);
    --text-links: #0070f0;

    --current-image: url('../res/img/image-placeholder-inverse.svg') center/contain no-repeat;
    --current-image-background: var(--text-main);
  }

  &_color_project-warning {
    --background-default: #ff9900;
    --background-accent: #ffffff;
    --border: #ffffff;

    --text-main: #ffffff;
    --text-secondary: rgba(255, 255, 255, 0.6);
    --text-additional: rgba(255, 255, 255, 0.3);
    --text-links: #ffffff;
  }

  &_color_megafon-brand {
    --background-default: #1fa55d;
    --background-accent: #ffffff;
    --border: #ffffff;

    --text-main: #ffffff;
    --text-secondary: rgba(255, 255, 255, 0.6);
    --text-additional: rgba(255, 255, 255, 0.3);
    --text-links: #ffffff;
  }

  &_size_default {
    --size-s: 7px;
    --size-m: 8px;
    --size-l: 10px;
    --size-xl: 11px;
    --size-xxl: 13px;

    --lh-s: 18px;
    --lh-m: 21px;
    --lh-l: 25px;
    --lh-xl: 28px;
    --lh-xxl: 34px;
  }

  &_space_default {
    --gap-xxxs: 2px;
    --gap-xxs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-l: 20px;
    --gap-xl: 24px;
    --gap-xxl: 32px;
    --gap-xxxl: 40px;
    --gap-xxxxl: 48px;
    --gap-xxxxxl: 72px;
  }

  &_gap_small {
    --gap: calc(var(--gap-xxxl) / 2);
    @media screen and (max-width: 1144px) {
      --gap: calc(var(--gap-m) / 2);
    }
  }

  @media screen and (max-width: 1144px) {
    grid-auto-flow: row;
  }
}

/* Слой каркаса */
.layout {
  display: grid;
}
.layout__container {
  width: 100%;
  &_align_center {
    margin: 0 auto;
  }

  &_size_s {
    max-width: 880px;
  }

  &_size_m {
    max-width: 1144px;
  }

  &_space-v_xxxxl {
    padding-top: var(--gap-xxxxl);
    padding-bottom: var(--gap-xxxxl);
  }

  &_space-v_xxxxxl {
    padding-top: var(--gap-xxxxxl);
    padding-bottom: var(--gap-xxxxxl);
  }

  &_indent-b_xxl {
    margin-bottom: var(--gap-xxl);
  }

  &_indent-b_xxxxl {
    margin-bottom: var(--gap-xxxxl);
  }
}

.grid {
  display: grid;
  &_m-columns_10 {
    grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
  }

  &_m-columns_12 {
    grid-template-columns: repeat(auto-fill, minmax(8%, 1fr));
  }

  &_col-gap_two-thirds {
    column-gap: 66%;
  }

  &_col-gap_full {
    column-gap: 100%;
  }

  &_row-gap_half {
    row-gap: 50%;
  }

  &_row-gap_half {
    row-gap: 100%;
  }
}

.grid__fraction {
  &_m-col_2 {
    grid-column: span 2;
  }

  &_m-col_3 {
    grid-column: span 3;
  }

  &_m-col_4 {
    grid-column: span 4;
  }

  &_m-col_5 {
    grid-column: span 5;
  }

  &_m-col_8 {
    grid-column: span 8;
  }
}

/* Слой паттернов */
.card {
  position: relative;
  display: grid;
  &_border_all {
    border-color: var(--border);
  }
  &_view_default {
    background: var(--background-default);
  }
}

.card__content {
  display: grid;
  &_distribute_center {
    grid-auto-flow: column;
    grid-auto-column: 1fr;
  }
  &_vertical-align_center {
    align-items: center;
  }
  &_space-a_m {
    padding: var(--gap-m);
  }
  &_space-a_l {
    padding: var(--gap-l);
  }
  &_space-a_xl {
    padding: var(--gap-xl);
  }
  &_space-a_xxl {
    padding: var(--gap-xxl);
  }
}

.card__footer {
  position: absolute;
  bottom: 0;
  display: grid;
  width: 100%;
  &_distribute_between {
    justify-items: stretch;
  }
  &_distribute_center {
    justify-items: center;
  }
  &_distribute_right {
    justify-items: right;
  }
  &_vertical-align_center {
    align-items: center;
  }
  &_vertical-align_top {
    align-items: top;
  }
  &_vertical-align_bottom {
    align-items: bottom;
  }
  &_space-a_m {
    padding: var(--gap-m);
  }
  &_space-a_l {
    padding: var(--gap-l);
  }
  &_space-a_xl {
    padding: var(--gap-xl);
  }
  &_space-a_xxl {
    padding: var(--gap-xxl);
  }
}

.form {
  display: grid;
  &_border_all {
    border: 3px solid var(--border);
  }
  &_view_default {
    background: var(--background-default);
  }
}

.form__item {
  display: grid;

  &_border_bottom {
    border-bottom: 3px solid var(--border);
  }

  &:last-child {
    border-bottom: unset;
    margin-bottom: unset;
  }

  &_distribute_between {
    grid-auto-flow: column;
    justify-content: space-between;
  }

  &_vertical-align_center {
    align-items: center;
  }

  &_indent-b_xxxs {
    margin-bottom: var(--gap-xxxs);
  }

  &_indent-b_xxs {
    margin-bottom: var(--gap-xxs);
  }

  &_indent-b_s {
    margin-bottom: var(--gap-s);
  }

  &_indent-b_m {
    margin-bottom: var(--gap-m);
  }

  &_indent-b_l {
    margin-bottom: var(--gap-l);
  }

  &_indent-b_xl {
    margin-bottom: var(--gap-xl);
  }

  &_indent-b_xxl {
    margin-bottom: var(--gap-xxl);
  }

  &_indent-b_xxxl {
    margin-bottom: var(--gap-xxxl);
  }

  &_space-h_xxxs {
    padding-left: var(--gap-xxxs);
    padding-right: var(--gap-xxxs);
  }

  &_space-h_xxs {
    padding-left: var(--gap-xxs);
    padding-right: var(--gap-xxs);
  }

  &_space-h_s {
    padding-left: var(--gap-s);
    padding-right: var(--gap-s);
  }

  &_space-h_m {
    padding-left: var(--gap-m);
    padding-right: var(--gap-m);
  }

  &_space-h_l {
    padding-left: var(--gap-l);
    padding-right: var(--gap-l);
  }

  &_space-h_xl {
    padding-left: var(--gap-xl);
    padding-right: var(--gap-xl);
  }

  &_space-h_xxl {
    padding-left: var(--gap-xxl);
    padding-right: var(--gap-xxl);
  }

  &_space-h_xxxl {
    padding-left: var(--gap-xxxl);
    padding-right: var(--gap-xxxl);
  }

  &_space-v_xxxs {
    padding-top: var(--gap-xxxs);
    padding-bottom: var(--gap-xxxs);
  }

  &_space-v_xxs {
    padding-top: var(--gap-xxs);
    padding-bottom: var(--gap-xxs);
  }

  &_space-v_s {
    padding-top: var(--gap-s);
    padding-bottom: var(--gap-s);
  }

  &_space-v_m {
    padding-top: var(--gap-m);
    padding-bottom: var(--gap-m);
  }

  &_space-v_l {
    padding-top: var(--gap-l);
    padding-bottom: var(--gap-l);
  }

  &_space-v_xl {
    padding-top: var(--gap-xl);
    padding-bottom: var(--gap-xl);
  }

  &_space-v_xxl {
    padding-top: var(--gap-xxl);
    padding-bottom: var(--gap-xxl);
  }

  &_space-v_xxxl {
    padding-top: var(--gap-xxxl);
    padding-bottom: var(--gap-xxxl);
  }
}

.form__label {
  &_width_default {
    width: 35%;
  }
}

.informer__content {
  display: grid;
  &_distribute_default {
    justify-content: unset;
  }
  &_distribute_between {
    justify-content: space-between;
  }
  &_distribute_center {
    justify-content: center;
    justify-items: center;
  }
  &_space-a_xl {
    padding: var(--gap-xl);
  }
  &_space-a_xxl {
    padding: var(--gap-xxl);
  }
}

.informer__action {
  display: grid;
  &_distribute_default {
    justify-content: unset;
  }
  &_distribute_between {
    justify-content: space-between;
  }
  &_distribute_center {
    justify-content: center;
    justify-items: center;
  }
  &_space-a_xl {
    padding: var(--gap-xl);
  }
  &_space-a_xxl {
    padding: var(--gap-xxl);
  }
}

.list {
  &_border_all {
    border: 3px solid var(--border);
  }
  &_view_default {
    background: var(--background-default);
  }
}

.list__item {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  &_border_bottom {
    border-bottom: 3px solid var(--border);
  }
  &_border_top {
    border-top: 3px solid var(--border);
  }
  &_distribute_between {
    justify-content: space-between;
  }
  &_vertical-align_center {
    align-items: center;
  }
  &_indent-t_m {
    margin-top: var(--gap-m);
  }
  &_indent-b_s {
    margin-bottom: var(--gap-s);
  }
  &_indent-b_m {
    margin-bottom: var(--gap-m);
  }
  &_indent-b_l {
    margin-bottom: var(--gap-l);
  }
  &_indent-b_xl {
    margin-bottom: var(--gap-xl);
  }
  &_space-b_s {
    padding-bottom: var(--gap-s);
  }
  &_space-a_l {
    padding: var(--gap-l);
  }
}

.icon-plus {
  display: grid;
  &_vertical-align_center {
    align-items: center;
  }
}

.icon-plus__icon {
  &_indent-r_s {
    margin-right: var(--gap-s);
  }
  &_indent-r_m {
    margin-right: var(--gap-m);
  }
  &_indent-l {
    margin-left: var(--gap-l);
  }
}

.section {
  &_indent-b_xxl {
    margin-bottom: var(--gap-xxl);
  }
  &_indent-b_xxxxl {
    margin-bottom: var(--gap-xxxxl);
  }
  &_space-v_xxl {
    padding-top: var(--gap-xxl);
    padding-bottom: var(--gap-xxl);
  }
  &_space-v_xxxxl {
    padding-top: var(--gap-xxxxl);
    padding-bottom: var(--gap-xxxxl);
  }
}

/* Слой контентных блоков */
.text {
  display: grid;
  grid-auto-flow: column;
  &_align_center {
    justify-self: center;
  }

  &_size_s {
    --elemsWidthS: 20px;
    --elemsWidthM: 48px;
    --elemsWidthL: 100px;

    --elemsHeight: 7px;
  }

  &_size_m {
    --elemsWidthS: 24px;
    --elemsWidthM: 56px;
    --elemsWidthL: 114px;

    --elemsHeight: 8px;
  }

  &_size_l {
    --elemsWidthS: 28px;
    --elemsWidthM: 68px;
    --elemsWidthL: 138px;

    --elemsHeight: 10px;
  }

  &_size_xl {
    --elemsWidthS: 32px;
    --elemsWidthM: 74px;
    --elemsWidthL: 15px;

    --elemsHeight: 11px;
  }

  &_size_xxl {
    --elemsWidthS: 36px;
    --elemsWidthM: 88px;
    --elemsWidthL: 184px;

    --elemsHeight: 13px;
  }

  &_type_h1 {
    margin: 15px 0 21px;
  }

  &_type_h2 {
    margin: 48px 0 20px;
  }

  &_type_h3 {
    margin: 43px 0 0;
  }

  &_type_p {
    margin: 15px 0 21px;
  }

  &_view_primary {
    --text-view: var(--text-main);
  }

  &_view_secondary {
    --text-view: var(--text-secondary);
  }

  &_view_ghost {
    --text-view: var(--text-additional);
  }

  &_view_link {
    --text-view: var(--text-links);
  }
}

.text__word {
  background: var(--text-view);
  height: var(--elemsHeight);

  &_width_s {
    width: var(--elemsWidthS);
  }

  &_width_m {
    width: var(--elemsWidthM);
  }

  &_width_l {
    width: var(--elemsWidthL);
  }
}

.avatar {
  background: var(--text-main);

  &_size_m {
    width: 60px;
    height: 60px;
  }
}

.brand-logo {
  &_name_yota {
    background: #00c0f8;
  }

  &_name_megafon {
    background: #33c778;
  }

  &_name_kcell {
    background: #692b96;
  }

  &_name_mts {
    background: #f70000;
  }

  &_size_xxs {
    width: 24px;
    height: 24px;
  }

  &_size_xs {
    width: 32px;
    height: 32px;
  }

  &_size_s {
    width: 40px;
    height: 40px;
  }

  &_size_m {
    width: 60px;
    height: 60px;
  }

  &_size_l {
    width: 80px;
    height: 80px;
  }
}

.placeholder {
  background: var(--text-main);
  &_size_m {
    width: 72px;
    height: 72px;
  }
}

.button {
  background: var(--background-accent);

  &_size_s {
    height: 24px;
  }
  &_size_m {
    height: 32px;
  }
  &_size_l {
    height: 42px;
  }
  &_size_xl {
    height: 56px;
  }
  &_size_xxl {
    height: 64px;
  }

  &_width_full {
    width: 200px;
  }
}

.input {
  width: 100%;

  &_size_s {
    height: 24px;
  }
  &_size_m {
    height: 32px;
  }
  &_size_l {
    height: 42px;
  }
  &_size_xl {
    height: 56px;
  }
  &_size_xxl {
    height: 64px;
  }
}

.image {
  width: 100%;
  height: var(--currentImageHeight);
  background: var(--current-image-background) var(--current-image);
}

.accordeon {
}

/* Контентные блоки */
.payment {
  border: 3px solid var(--border);
}

.payment__input {
  width: 326px;
  border: 3px solid var(--border);
}

.warning {
  display: grid;
  grid-template-rows: 1fr min-content;
  min-height: 335px;
}
.warning__content {
  align-self: start;
}
.warning__button-wrapper {
  align-items: center;
}
.warning__placeholder {
  margin-top: var(--gap-m);
  margin-bottom: var(--gap-m);
}

.product {
  --currentImageHeight: 160px;

  min-height: 280px;
  border: 3px solid var(--border);
}

.history {
  border: 3px solid var(--border);
}

.commercial {
  min-height: 430px;
  border: 3px solid var(--border);
}
